/* From Uiverse.io by cssbuttons-io */
.hoverLinks {
    --color: #666;
    font-family: inherit;
    /* display: inline-block; */
    /* width: 8em; */
    /* height: 2.6em;1 */
    /* line-height: 2.5em; */
    /* margin: 20px; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    /* border: 2px solid var(--color); */
    transition: color 0.5s;
    z-index: 1;
    /* font-size: 17px; */
    border-radius: 8px;
    font-weight: 500;
    color: var(--color);
    border: 1px solid white;
}

.hoverLinks:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.hoverLinks:hover {
    color: #fff;
}

.hoverLinks:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.hoverLinks:hover:before {
    top: -30px;
    left: -30px;
}

.hoverLinks:active:before {
    background: hsl(240 5.9% 10%);
    transition: background 0s;  
}

